.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  width: 300%;
  height: 100%;
  animation: slide 12s infinite;
}

.carousel-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

@keyframes slide {
  0% { transform: translateX(0); }
  33% { transform: translateX(-100%); }
  66% { transform: translateX(-200%); }
  100% { transform: translateX(0); }
}